doctype html
html
    head
        meta(charset='utf-8')
        title Pioneer
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1', name='viewport')
        meta(content='', name='description')
        meta(content='', name='author')
        // BEGIN GLOBAL MANDATORY STYLES
        link(href='../css/base.css', rel='stylesheet', type='text/css')
        link(href='../css/app.css', rel='stylesheet', type='text/css')
        // END GLOBAL MANDATORY STYLES
        link(rel='shortcut icon', href='../img/favicon.ico')
        script(src='../js/base.js', type='text/javascript')
        script(src='../js/app.js', type='text/javascript')
        script(type='text/javascript').
            $(document).ready(function(){
                pioneer.contactus();
            });
    body.contactus
        ul#slide-out.side-nav.navoverlay
            li.navoverlay__navicon
                a(href="#")
                    i.icon-nav-back
                i.icon-navbar-logo
            li.navoverlay__title
                | Welcome...
            li.navoverlay__navlist
                a.navoverlay__navlink(href="/contactus.html")
                    | About Us...
                span.navoverlay__description
                    | Our Story and Services.
            li.navoverlay__navlist
                a.navoverlay__navlink
                    | Journey...
                span.navoverlay__description
                    | Adventure is a stable in our cutlure.
            li.navoverlay__navlist
                a.navoverlay__navlink(href="/discoveries.html")
                    | Discoveries...
                span.navoverlay__description
                    | Some of our favourite projects.
            li.navoverlay__navlist
                a.navoverlay__navlink
                    | Ahoy!...
                span.navoverlay__description
                    | We'd love to hear from you.
            li
                .navoverlay__divider  
            li.navoverlay__footer
                .navoverlay__instagram
                    i.icon-insta 
                .navoverlay__contact
                    span    ahoy@
        .nav-bar
            i.icon-nav.button-collapse(data-activates='slide-out')
            i.icon-navbar-logo

        .block.block-hero
            header.header--white Embark with us

        .block
            .block-presentation
                .block-presentation__leading
                    | Stationed in both Peterborough and Burlington, we have the GTA surrounded, with a waderlust for the world. We pride ourselves on the challenges we have triumphed for all our great clients. If you’re thinking about climbing aboard we’d love to hear from you?

        .block.block-more
            header SAY HELLO
        .block
            .block-contact-form
                .block-contact-form__fields
                    input.block-contact-form__input.validate(type="text" placeholder="NAME" required)
                    input.block-contact-form__input.validate(type="email" placeholder="EMAIL" required)
                    textarea.block-contact-form__text.materialize-textarea.validate(placeholder="MESSAGE" required)
                a#send_message_link(href="#")
                    span.h1 SEND
        footer
            .footer__logo
                i.icon-navbar-logo
            .footer__description
                | Lets’s Disocover yoru Brand’s True Potential

        script.
            Userback = window.Userback || {};
            Userback.access_token = '888|1005|YlSSyCNcP2ytJq5SkVUDI73mqxb6NehMzaE8MslCuT5eja6E61';

            (function(id) {
                if (document.getElementById(id)) {return;}
                var s = document.createElement('script');
                s.id = id;
                s.src = 'https://static.userback.io/widget/v1.js';
                var parent_node = document.head || document.body;
                parent_node.appendChild(s);
            })('userback-sdk');
