/** Global Color Palette **/

// Brand Colours
$brand-green:       #526265;
$brand-brown:       #998675;
$brand-danger:		#670000;

// Grayscale Colourr
$black:             #252525;
$black-graphite:	#464646;
$gray-dark:			#707070;
$gray:        		#959595;
$gray-light:        #d7d7d7;
$white-cream:       #f5f3f1;
$white:             #ffffff;
